@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 1;
}
html {
  font-size: 62.5%;
}
.spclfont {
  font-family: "Protest Revolution", sans-serif;
  /* font-family: "Righteous", sans-serif; */
}
.gloss {
  left: 0;
  transform: translateX(0px);
  animation-name: glossy;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes glossy {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2000%);
  }
}

.customscroll::-webkit-scrollbar {
  display: none;
}

.slideanime {
  animation: sliding;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
}
.slidecover:hover .slideanime {
  animation-play-state: paused;
}

@keyframes sliding {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
